<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{serverName}}</p>
<button [disabled]="!allowNewServer" (click)="onServerCreate()" class="btn btn-primary">Add server</button>
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>
<app-success-allert></app-success-allert>